@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import 'variables';

body {
  --text-color: #222;
  --bkg-color: #EEE;
  --anchor-color: #0033cc;
  --theme-color: red;

  --font-family: Rubik;

  --size: 16px;
  --size-lg: 20px;
  --size-xl: 36px;
}
body.dark {
  --text-color: #D9D9D9;
  --bkg-color: #282c34;
  --anchor-color: #809fff;
}
body.react-theme {
  --theme-color: #61dafb;
}
body.js-theme {
  --theme-color: #f7e018;
}
body.angular-theme {
  --theme-color: #dd0031;
}
body.vue-theme {
  --theme-color: #42b983;
}
body.svelte-theme {
  --theme-color: #ff3e00;
}

*{
  font-family: var(--font-family), sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bkg-color);
}

svg path{
  fill: var(--text-color);
}

a, 
:any-link {
  color: var(--anchor-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}


@media (max-width: $mobile-breakpoint) {
  body {
    --size: 14px;
    --size-lg: 18px;
    --size-xl: 26px;
  }
}
